@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300&family=Sofia+Sans:ital,wght@0,200;0,300;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans', sans-serif;
    box-sizing: border-box;

}

nav{
    width: 100%;
    height: 10px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 1;
   margin-top: 50px;
   position: relative;
}


.ubi-section img {
    width: 95px;
    margin-left: 23px;
   
}

.user-links {
    width: 60%;
    margin-right: 30px;
}

.user-links ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
}
.first-section{
    height: 90vh;
    margin-top: 90px;
    background-image: url(./images/banner.png);
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
}

.text-section{
    color: white;
    height: 50%;
}
.text-section h2{
    margin-bottom: 10px;
    font-weight: 200;
    margin-top: 15px;
}

.main-btn{
    width: 300px;
    background-color: #73cdbe;
    padding: 15px;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}
.mouse{
    position: absolute;
    bottom: 18px;
    left:45vw;
    height: 50px;
}
.text-section p{
    margin-top: 15px;
    font-size: 17px;
    margin-left: 60px;
}
.section-2-container {
    width: 100%;
    height: 40vh;
    display: flex;
    margin-top: 50px;
    /* align-items: center; */
    justify-content: center;
 
}



.offering-section {
    width: 1100px;
    height: 200px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #fff;
    border: none;
    
}

.offering-section h1 {
    margin-bottom:10px;
    position: relative;
}

.offering-section p {
    width: 70%;
    margin-bottom: 0px;
    color: #303030;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}


.section-2-circles {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}

.sec-2-circle {
    width: 250px;
    height: 180px;
    border: none;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec-2-circle h6 {
    font-size: 16px;
    font-weight: 700;
    color: #303030;
    margin-top: 5px;
}

.sec-2-circle p {
    font-size: 16px;
    font-weight: 400;
    color: #303030;
}


.help-section{
    width:90vw;
    height:60vh;
    background-color:#EEEEEE;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:100px;
}

.help-image img{
    width:300px;
    
}
.help-text{
    width: 50%;
    text-align: left;
    padding:100px;
}
.help-text h2{
    font-size: 35px;
}
.help-text h5{
    font-size: 25px;
}

.portfolio-section {
    width: 100%;
    height: 40vh;
    display: flex;
    margin-top: 50px;
    /* align-items: center; */
    justify-content: center;
 
}



.portfolio-text {
    width: 1100px;
    height: 40px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #fff;
    border: none;
    
}

.portfolio-text h1 {
    margin-bottom:10px;
    position: relative;
}
.portfolio-text p {
    width: 70%;
    margin-bottom: 0px;
    color: #303030;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}


.portfolio-image-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-radius: 1px solid #EEEEEE;
 
}


.Success{
    width:90vw;
    height:60vh;
    background-color:#EEEEEE;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.success-image img{
    width:300px;
    
}
.Success-section{
    width: 50%;
    text-align: right;
    padding:50px;
}
.Success-section h6{
    font-size: 35px;
}
.Success-section p{
    font-size: 25px;
}

.news {
    width: 100%;
    height: 40vh;
    display: flex;
    margin-top: 50px;
    /* align-items: center; */
    justify-content: center;
     
}



.news-section {
    width: 1100px;
    height: 600px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #EEEEEE;
    border: none;
    
}

.news-section h2 {
    margin-top:40px;
    position: relative;
   
}

.news-section p {
    width: 70%;
    margin-bottom: 0px;
    color: #303030;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}


.news-image-section{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 52%;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 250px;
}

.news-image {
    width: 250px;
    height: 180px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

  
}
.news-image img{
width: 200px;
}
.news-image h1{
    font-size: 10px;
}
.news-image h6 {
    font-size: 16px;
    font-weight: 700;
    color: #303030;
    margin-top: 5px;
}

.news-image p {
    font-size: 16px;
    font-weight: 400;
    color:#439A97;
}
.logo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 100px;
    background-color: #EEEEEE;
    width:89%;
    height: 200px;
    margin-left: 70px;
    position: relative;
  }
  
  .logo-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .logo-section span {
    margin: 0 10px; 
  }
  
  .logo-section img {
    height: 80px; 
  }
  
  .last {
    width: 100%;
    height: 40vh;
    display: flex;
    margin-top: 50px;
    /* align-items: center; */
    justify-content: center;
     
}



.last-section {
    width: 1100px;
    height: 600px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #73cdbe;
    border: none;
    
}

.last-section h2 {
    margin-top:40px;
    position: relative;
   
}

.last-section p {
    width: 70%;
    margin-bottom: 0px;
    color: #303030;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.form-section {
    display: flex;
    flex-direction: row; 
    gap: 100px; 
    margin-top: 30px ;
  }
  
  .form-section input {
    padding: 10px 40px; 
    border: none; 
    border-radius: 10px;  
  }
  
  /* .form-section input:focus {
    outline: none; 
    border-bottom-color: #333; 
  }
   */
  .message {
    margin-top: 40px; 
    width: 80%;
    margin: auto;

  }
  
  .message input {
   
    border: none;
    height:40vh;
    width:70vw;
    padding:0px 6px; 
   border-radius: 10px;
   position: relative;
    text-align:start;
    padding-bottom:200px;
  }
  .input  .placeholder{
    color:blue;
  }
  
  .message input:focus {
    outline: none; 
    border: 1px solid grey; 
  }
  
  .message-btn {
   margin-bottom: 100px;
    width: 18%;
    padding: 10px 20px; 
    background-color: #fff; 
    color: #73cdbe; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .message-btn:hover {
  background-color:#303030;
  }
  
 footer{
    width: 80vw;
    height: 80vh;
    margin: auto;
    padding-top: 20px;
    margin-top: 400px;
    /* background-color: blue; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
 }

 footer ul{
    list-style: none;
 }
footer ul img{
    width:100px;
}

.ul-last{
    position: relative;
}
.ul-last input{
    padding:8px 5px;
    /* border: none; */
    margin-top: 20px;
}
.ul-last button{
    background-color:  #73cdbe;
    padding:10px 15px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    right:-33px;
    margin-top: 20px;
}
.ul-last p{
    margin-top: 20px;
}